<h1> ARRRR HERE ARE ALL ME CURRENT PIRATES </h1>
<ul>
<li> <%=@pirate.name%> </li>
<li> <%=@pirate.weight%> </li>
<li> <%=@pirate.height%> </li>

<h1> <%=@pirate.name + "'s" + "Ships"%> </h1>
<h1> <%@pirate.ships.each do |pirate_ship| %> </h1>
<h1> <%=pirate_ship.name %> </h1>
<h1> <%=pirate_ship.type %> </h1>
<h1> <%=pirate_ship.booty %> </h1>
<h1> <%end%> </h1>
